h2
{
    background-color: blueviolet;

}
.flex-item
{
    border: 5px solid rgb(228, 17, 17);
    width: 100%; padding-top: 100%;
    position: relative;

    border: 2px solid ;
    cursor: pointer;
    box-sizing: border-box;
    text-overflow: clip;
}
.gameboard-div
{
    position: absolute;
    top: 25%;
    left: 50%;
    border: 5px solid yellowgreen;
    display: flex;
    display: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 250px;
    margin: auto;

} 
