.btn
{
    background-color: rgb(148, 216, 193);

    position: fixed;
    left: 50%;
}

.newBaseDiv
{
    background-color: rgb(66, 192, 161);
    border: 5px solid yellowgreen;
    
}

.div1
{
    position: fixed;
    left: 50%;
    top: 30%;
    border: 2px solid red;
}

.newBook
{
    background-color: blanchedalmond;
    position: fixed;
   
    border: 2px solid rgb(0, 251, 255);
    display: flex;
    
    gap: 10px;
    justify-content: space-between;

}
.card
{
    position: fixed;
    top: 50%;
    

}